

$headerHeight:60px;
$toolbarHeight:70px;
$sidebarWidth:100px;
$workspaceGutter:30px;




$header:#21e6c1;
$sidebar:#364f6b;
$body:darken(#f0f0f0,3%);
// ++++++++++++++++++++++++++

$primary:$header;
$dark:$sidebar;
$border:#e5e5e5;
$btn-padding-x:25px;
$btn-font-weight:500;
$btn-border-radius:20px;
$list-group-border-color:$border;

$enable-shadows	:false ;

$dropdown-border-radius:0px;
$dropdown-border-color:$border;
$dropdown-box-shadow:0px 1px 5px rgba(black,.1);
$dropdown-item-padding-y:8px;
$dropdown-font-size:inherit;


@import "~bootstrap/scss/bootstrap.scss";




body{
    background: $body;
    font-family:'Inter', sans-serif;
    font-size: 13px;
    color: #676767;
    overflow-y: scroll;
}

.header{
    background:$header;
    height: $headerHeight;
    width: 100%;
    position: fixed;
    padding: 0px 20px;
    left: 0px;
    top:0px;
    z-index: 5;
 
}


.sidebar{
    background: $sidebar;
    height: 100%;
    width: $sidebarWidth;
    position: fixed;
    left: 0px;
    top:0px;
    z-index: 0;
    padding-top: $headerHeight + 20px;
    a{
        display: block;
        padding: 20px 10px;
        text-align: center;
        text-decoration: none;
        i{
            font-size: 30px;
            color: lighten($sidebar,30%);
           
        }
        strong{
            display: block;
            color: lighten($sidebar,25%);
            font-weight: normal;
           
           
        }
        &:hover{
            i{
                
                color: lighten($sidebar,50%);
            }
           strong{
            color: lighten($sidebar,50%);
           } 
        }
        &.active{
            i{
                
                color: $header;
            }
           strong{
            color:$header;
           } 
        }
    }
}
.body{
    padding-left: $sidebarWidth + $workspaceGutter;
    padding-right:  $workspaceGutter;
    padding-top: $headerHeight;
}
.toolbar{
    background: white;
    padding: 0px 30px;
    margin-left: - $workspaceGutter;
    margin-right: - $workspaceGutter;
    height: $toolbarHeight;
    margin-bottom: $workspaceGutter;
}

.workspace{
    background: white;
    max-width: 800px;
    margin: 0px auto;
    min-height: calc(100vh - (#{$headerHeight} + #{$toolbarHeight} + #{$workspaceGutter}));
    &.wide{
        max-width: 100%;
    }
}
.loader{
    background: white;
    height: calc(100vh - (#{$headerHeight} + #{$toolbarHeight} + #{$workspaceGutter})); 
}

.whiteblock{

background: white;
padding:20px 50px;
position: relative;
border-bottom: 1px solid $border;
&:hover{
    background: darken(white,2.8%);
}
}

.chip{
    display: inline-flex;
    height: 40px;
    width: 40px;
    vertical-align: top;
    align-items: center;
    justify-content: center;

    img{
        height:0px;
        width: 0px;
        visibility: hidden;
    }


    &__holder{
        height:100%;
        width:100%;
        background-size: contain;
        background-color: transparent;
        background-position: center;
        background-repeat: no-repeat;
    }
}

.gutters-5{
    margin-left: -5px;
    margin-right: -5px;
    > [class^="col"]{
        padding-left: 5px;
        padding-right: 5px;
    }
}



// *{
//     box-shadow: 0px 0px 0px 1px red;
// }